<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <RulesEngine>
    <!-- Rule Types -->
    <RuleTypes>
      <add Key="IninValueOnT1" Type="ConsoleApplication3.IninValueOnT1, ConsoleApplication3" />
      <add Key="IninValueOnT2" Type="ConsoleApplication3.IninValueOnT2, ConsoleApplication3" />
      <add Key="IninValueOnT3" Type="ConsoleApplication3.IninValueOnT3, ConsoleApplication3" />
      <add Key="MapRuleOnT1IfTrue" Type="ConsoleApplication3.MapRuleOnT1IfTrue, ConsoleApplication3" />
      <add Key="MapRuleOnT1IfFalse" Type="ConsoleApplication3.MapRuleOnT1IfFalse, ConsoleApplication3" />
      <add Key="MapRuleOnT2" Type="ConsoleApplication3.MapRuleOnT2, ConsoleApplication3" />
      <add Key="ReduceRuleOnT1" Type="ConsoleApplication3.ReduceRuleOnT1, ConsoleApplication3" />
      <add Key="AssignRuleOnT1" Type="ConsoleApplication3.AssignRuleOnT1, ConsoleApplication3" />
      <add Key="ReduceRuleOnT2" Type="ConsoleApplication3.ReduceRuleOnT2, ConsoleApplication3" />
      <add Key="AssignRuleOnT2" Type="ConsoleApplication3.AssignRuleOnT2, ConsoleApplication3" />
      <add Key="ConditionRuleOnT1" Type="ConsoleApplication3.ConditionRuleOnT1, ConsoleApplication3" />
    </RuleTypes>
    
    <RuleGroup Name="Group1" StartDate="1995-01-01" EndDate="9999-12-31" SourceType ="ConsoleApplication3.Test1, ConsoleApplication3" TargetType ="ConsoleApplication3.Test2, ConsoleApplication3" >
      <Rules>
        <Rule Name="IninValueOnT1" />
        <IFElseRule Name="MapRuleOnT1OnCondtion" Condtion="ConditionRuleOnT1" >
          <True>
            <Rules>
              <Rule Name="MapRuleOnT1IfTrue"></Rule>
            </Rules>
          </True>
          <False>
            <Rules>
              <Rule Name="MapRuleOnT1IfFalse"></Rule>
            </Rules>
          </False>
        </IFElseRule>
        <Rule Name="ReduceRuleOnT1" />
        <Rule Name="AssignRuleOnT1" />
      </Rules>
      <RuleGroup Name="Group2" StartDate="1995-01-01" EndDate="9999-12-31" SourceType ="ConsoleApplication3.Test2, ConsoleApplication3" TargetType ="ConsoleApplication3.Test3, ConsoleApplication3" >
        <Rules>
          <Rule Name="IninValueOnT2" />
          <Rule Name="MapRuleOnT2" />
          <Rule Name="ReduceRuleOnT2" />
          <Rule Name="AssignRuleOnT2" />
        </Rules>
        <RuleGroup Name="Group3" StartDate="1995-01-01" EndDate="9999-12-31" SourceType ="ConsoleApplication3.Test3, ConsoleApplication3"  >
          <Rules>
            <Rule Name="IninValueOnT3" />
          </Rules>
        </RuleGroup>
      </RuleGroup>
    </RuleGroup>
  </RulesEngine>
</configuration>