<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <RulesEngine StartDate="1995-01-01" EndDate="9999-12-31">
    <CondtionTypes>
      <add Key="ConditionRuleOnT1" Type="ClassLibrary1.ConditionRuleOnT1, ClassLibrary1" />
    </CondtionTypes>
    <!-- Rule Types -->
    <RuleTypes>
      <add Key="IninValueOnT1" Type="ClassLibrary1.IninValueOnT1, ClassLibrary1" />
      <add Key="IninValueOnT2" Type="ClassLibrary1.IninValueOnT2, ClassLibrary1" />
      <add Key="IninValueOnT3" Type="ClassLibrary1.IninValueOnT3, ClassLibrary1" />
      <add Key="MapRuleOnT1IfTrue" Type="ClassLibrary1.MapRuleOnT1IfTrue, ClassLibrary1" />
      <add Key="MapRuleOnT1IfFalse" Type="ClassLibrary1.MapRuleOnT1IfFalse, ClassLibrary1" />
      <add Key="MapRuleOnT2" Type="ClassLibrary1.MapRuleOnT2, ClassLibrary1" />
      <add Key="ReduceRuleOnT1" Type="ClassLibrary1.ReduceRuleOnT1, ClassLibrary1" />
      <add Key="AssignRuleOnT1" Type="ClassLibrary1.AssignRuleOnT1, ClassLibrary1" />
      <add Key="ReduceRuleOnT2" Type="ClassLibrary1.ReduceRuleOnT2, ClassLibrary1" />
      <add Key="AssignRuleOnT2" Type="ClassLibrary1.AssignRuleOnT2, ClassLibrary1" />
    </RuleTypes>
    <MapReduce>
      <Map>
        <Rule Name="IninValueOnT1" />
        <MapRule Name="MapRuleOnT1IfTrue"></MapRule>
        <ForEach>
          <MapReduce>
            <Map>
              <Rule Name="IninValueOnT2" />
              <MapRule Name="MapRuleOnT2" />
              <ForEach >
                <Rule Name="IninValueOnT3" />
              </ForEach>
            </Map>
            <Reduce>
              <ReduceRule Name="ReduceRuleOnT2"/>
              <ReduceRule Name="AssignRuleOnT2"/>
            </Reduce>
          </MapReduce>
        </ForEach>
      </Map>
      <Reduce >
        <ReduceRule Name="ReduceRuleOnT1"/>
        <ReduceRule Name="AssignRuleOnT1"/>
      </Reduce>
    </MapReduce>
  </RulesEngine>
</configuration>