<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <RulesEngine StartDate="1995-01-01" EndDate="9999-12-31">
    <!-- Rule Types -->
    <RuleTypes>
      <add Key="ConditionOnRuleTest1ReturnTrue" Type="MapReduce.Parser.UnitTest.ConditionOnRuleTest1ReturnTrue, MapReduce.Parser.UnitTest" />
      <add Key="ConditionOnRuleTest1ReturnFalse" Type="MapReduce.Parser.UnitTest.ConditionOnRuleTest1ReturnFalse, MapReduce.Parser.UnitTest" />
      <add Key="TestQulificationUseContext" Type="MapReduce.Parser.UnitTest.TestQulificationUseContext, MapReduce.Parser.UnitTest" />
      <add Key="TestQulificationUseContextElse" Type="MapReduce.Parser.UnitTest.TestQulificationUseContextElse, MapReduce.Parser.UnitTest" />
      <add Key="TestConditionTrue" Type="MapReduce.Parser.UnitTest.TestConditionTrue, MapReduce.Parser.UnitTest" />
      <add Key="TestConditionFalse" Type="MapReduce.Parser.UnitTest.TestConditionFalse, MapReduce.Parser.UnitTest" />
      <add Key="IninValueOnT1" Type="ClassLibrary1.IninValueOnT1, ClassLibrary1" />
      <add Key="IninValueOnT2" Type="ClassLibrary1.IninValueOnT2, ClassLibrary1" />
      <add Key="IninValueOnT3" Type="ClassLibrary1.IninValueOnT3, ClassLibrary1" />
      <add Key="MapRuleOnT1Test" Type="MapReduce.Parser.UnitTest.MapRuleOnT1Test, MapReduce.Parser.UnitTest" />
      <add Key="MapRuleOnT2Test" Type="MapReduce.Parser.UnitTest.MapRuleOnT2Test, MapReduce.Parser.UnitTest" />
      <add Key="ReduceRuleOnT1" Type="ClassLibrary1.ReduceRuleOnT1, ClassLibrary1" />
      <add Key="AssignRuleOnT1" Type="ClassLibrary1.AssignRuleOnT1, ClassLibrary1" />
      <add Key="ReduceRuleOnT2" Type="ClassLibrary1.ReduceRuleOnT2, ClassLibrary1" />
      <add Key="AssignRuleOnT2" Type="ClassLibrary1.AssignRuleOnT2, ClassLibrary1" />
    </RuleTypes>
    <MapReduce Name ="MapReduceOnT2TestRef">
      <Map>
        <MapRule Type="MapRuleOnT2Test" />
      </Map>
      <Reduce>
        <ReduceRule Type="ReduceRuleOnT2" />
        <ReduceRule Type="AssignRuleOnT2" />
      </Reduce>
    </MapReduce>
    <MapReduce>
      <Map>
        <Rule Type="TestConditionTrue"  Condition="TestQulificationUseContext"/>
        <Rule Type="TestConditionFalse"  Condition="TestQulificationUseContextElse"/>
        <MapRule Type="MapRuleOnT1Test" ></MapRule>
        <ForEach>
          <Rule ref="MapReduceOnT2TestRef"  />
        </ForEach>
      </Map>
      <Reduce >
        <ReduceRule Type="ReduceRuleOnT1" />
        <ReduceRule Type="AssignRuleOnT1" />
      </Reduce>
    </MapReduce>
  </RulesEngine>
</configuration>